  <table id="table" class="table">
      <thead>
        <tr>
          <th class="col5 center">Done</th>
          <th class="col35">Description</th>
          <th class="col15">Due Date</th>
          <th class="col10">Due Time</th>
          <th class="col15 center">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let list of lists">
          <tr *ngIf="!editing || editList._id != list._id">
            <td>
                <div class="checkbox"><input type="checkbox" [checked]="list.isChecked" (click)="onChangeCheckbox(list)" /></div>
            </td>
            <td *ngIf="!list.isChecked" (click)="startEditing(list)">{{list.description}}</td>
            <td *ngIf="list.isChecked" (click)="startEditing(list)"><s>{{list.description}}</s></td>
            <td (click)="startEditing(list)">{{list.dueDate | date: 'MM/dd/y'}}</td>
            <td (click)="startEditing(list)">{{list.dueDate | date: 'HH:mm'}}</td>
            <td><button type="button" class="btn btn-danger" (click)="deleteList(list)">Delete</button></td>
          </tr>
          <tr *ngIf="editing == true && editList._id == list._id">
            <td></td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="editList.description" name="description" required>
            </td>
            <td>
              <input type="date" class="form-control" [ngModel]="editDate | date:'yyyy-MM-dd'"
                (ngModelChange)="editDate = $event"  name="dueDate">
            </td>
            <td>
              <input type="time" class="form-control" [ngModel]="editTime | date:'HH:mm'"
                (ngModelChange)="editTime = $event"  name="dueTime">
            </td>
            <td>
              <input type="button" class="btn btn-info mr-2" (click)="cancelEditing()" value="Cancel">
              <input type="button" class="btn btn-warning" (click)="saveEditing()" value="Save">
            </td>
          </tr>
      </ng-container>
      </tbody>
   </table>

   <app-add-list (addList)='onAddList($event)'> </app-add-list>
