.col5 {
    width: 5%;
}

.col10 {
    width: 10%;
}

.col12 {
    width: 12%;
}

.col15 {
    width: 15%;
}

.col18 {
    width: 18%;
}

.col20 {
    width: 20%;
}

.col35 {
    width: 35%;
}

.col40 {
    width: 40%;
}

.center, #table tr td:first-child, #table tr td:last-child {
    text-align: center;
}
