  <table id="table" class="table">
      <thead>
        <tr>
          <th>Done</th>
          <th>Description</th>
          <th>Due date</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of lists">
          <td>
              <div class="checkbox"><input type="checkbox" value="{{list.isChecked}}" /></div>
          </td>
          <td>{{list.description}}</td>
          <td>{{list.dueDate | date: 'MM/d/y h:mm a'}}</td>
          <td><button type="button" class="btn btn-danger" (click)="deleteList(list); $event.stopPropagation();">Delete</button></td>
        </tr>
      </tbody>
   </table>

   <app-add-list (addList)='onAddList($event)'> </app-add-list>
